<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./../css/estilos.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">

    <title>CONTACTO</title>

</head>
<body>
    <header>
         <nav class="navigatorBar">
            <a class="menu" href="./../index.html">INICIO</a>
            <a class="menu" href="./portfolio.html">GALERIA </a>
            <a class="menu" href="./presupuestos.html">PRESUPUESTOS</a>
            <a class="menu-active" href="#">CONTACTO</a>
        </nav>
   </header> 
   <main>
        <section class="contenido-ini">
            <div class="contenedor">
                 <h2>¡VEN A CONOCERNOS! </h2>
                <div class="top-mapas">
                    <div class="top-txt-mapa">
                        <div class="top-txt">
                        <p>Contamos con diferentes sucursales en toda la comunidad de Madrid.<br>En ellas podras encontrar multitud de prendas de futbol así como equipaciones completas de tus equipos favoritos, ropa de deporte de todas las marcas y variedades tanto de hombre, mujer y niño, ademas contamos con una zona de accesorios deportivos entre los que encontraras balones de futbol, balocesto, rugbi y muchas cosas más.<br><br> Te los vas a perder!</p>
                        </div>
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3031.834174869527!2d-3.6106390999999998!3d40.5452526!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd422d40d8c75317%3A0x61a9b32b2a07a2b1!2sF%C3%BAtbol%20Emotion%20MegaPark!5e0!3m2!1ses!2ses!4v1748016103967!5m2!1ses!2ses" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>  
                </div>
            </div>
            <div class="hero">
                <img src="../imagenes/Horario.png"alt="horario de la tienda"width="800"height="500">
            </div>
        </section>

   </main>



    <footer>
        <section class="footer">
        <div class="container">
            <div class="footer-rows">
                <div class="footer-links">
                    <h4>Compañía</h4>
                    <ul>
                        <li><a href="#">Nosotros</a></li>
                        <li><a href="https://maps.app.goo.gl/PxDAyj4cSNjTrSBB7">Nuestras tiendas</a></li>
                        <li><a href="https://www.aepd.es/politica-de-privacidad-y-aviso-legal">Política de privacidad</a></li>
                        <li><a href="#">Afiliate</a></li>

                    </ul>
                </div>
                <div class="footer-links">
                    <h4>Ayuda</h4>
                    <ul>
                        <li><a href="#">Compras</a></li>
                        <li><a href="#">Pagos y Envios</a></li>
                        <li><a href="#">Estado de compra</a></li>
                        <li><a href="#">Preguntas frecuentes</a></li>

                    </ul>
                </div>
                <div class="footer-links">
                    <h4>Tienda</h4>
                    <ul>
                        <li><a href="#">Camisetas</a></li>
                        <li><a href="#">Zapatos</a></li>
                        <li><a href="#">Conjuntos</a></li>
                        <li><a href="#">Complementos</a></li>

                    </ul>
                </div>
                <div class="footer-links">
                    <h4>Siguenos</h4>
                    <div class="social-links">
                        <a href="https://www.facebook.com/futbolemotion"><i class="fab fa-facebook-f"></i></a>
                        <a href="https://www.instagram.com/futbolemotion/"><i class="fab fa-instagram"></i></a>
                        <a href="https://x.com/FutbolEmotion"><i class="fab fa-twitter"></i></a>
                        <a href="https://www.youtube.com/c/futbolemotion"><i class="fab fa-youtube"></i></a>

                    </div>
                </div>
            </div>
        </div>
        </section>

   </footer>
</body>





</html>