<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./../css/estilos.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">

    <title>GALERIA</title>
</head>
<body>
    <header>

        <nav class="navigatorBar">
            <a class="menu " href="./../index.html">INICIO</a>
            <a class="menu-active" href="#">GALERIA </a>
            <a class="menu" href="./presupuestos.html">PRESUPUESTOS</a>
            <a class="menu" href="./contacto.html">CONTACTO</a>
        </nav>
    </header>
   
    <main>
        <div class="hero">
             <h2>A continuacion podras ver algunos de nuestros artículos mas demandados por los clientes, tal vez puedes estar buscandolo tambien....</h2>
        </div>
        <section class="contenido-img">
            
                <div class="contenedor">
                        <h2>Camisetas  del Mundial </h2>
                        <div class="top-ventas">

                                <div class="top-venta">
                                    <img src="../imagenes/eq_españa.webp" alt="Camiseta seleccion española" height="400" width="400">
                                    <div class="descripcion">
                                        <p>Camiseta de España</p> 
                                    </div>
                                </div>
                                
                                <div class="top-venta">
                                    <img src="./../imagenes/eq_argentina.avif" alt="Camiseta seleccion argentina de futbol" height="400" width="400">
                                    <div class="descripcion">
                                        <p>Camiseta de Argentina</p>
                                        
                                    </div>
                                </div>  

                                <div class="top-venta">
                                    <img src="./../imagenes/eq_francia.webp" alt="Camiseta selccion francesa de futbol" height="400" width="400">
                                    <div class="descripcion">
                                        <p>Camiseta de Francia</p>
                                        
                                    </div>
                                </div>

                                <div class="top-venta">
                                    <img src="./../imagenes/eq_italia.png" alt="Camiseta selecion italiana de futbol" height="400" width="400">
                                    <div class="descripcion">
                                        <p>Camiseta de Italia</p>
                                        
                                    </div>
                            </div>
                        </div>
                </div>
                        
            
        </section>

        <section class="contenido-img">
                <div class="contenedor">        
                        <h2>Camisetas  de la Liga Española </h2>
                        <div class="top-ventas">
                                <div class="top-venta">
                                    <img src="../imagenes/eq_barca.webp" alt="Camiseta del Futbol Club Barcelona" height="400" width="400">
                                    <div class="descripcion">
                                        <p>Camiseta del FCB</p>
                                        
                                    </div>
                                </div>
                                
                                <div class="top-venta">
                                    <img src="../imagenes/eq_betis.jpeg" alt="Camiseta del Real Betis" height="400" width="400">
                                    <div class="descripcion">
                                        <p>Camiseta del Real Betis</p>
                                    
                                    </div>
                                </div>  

                                <div class="top-venta">
                                    <img src="../imagenes/eq_atletico.webp" alt="Camiseta del Atlético de Madrid" height="400" width="400">
                                    <div class="descripcion">
                                        <p>Camiseta del Atlético de Madrid</p>
                                    
                                    </div>
                                </div>

                                <div class="top-venta">
                                    <img src="../imagenes/eq_RealMadrid.avif" alt="Camiseta del Real Madrid" height="400" width="400">
                                    <div class="descripcion">
                                        <p>Camiseta del Real Madrid</p>
                                        
                                    </div>
                            </div>
                        </div>
                </div>       
            
        </section>

        <section class="contenido-img">
                <div class="contenedor">  
                        <h2>Camisetas  de la Champions </h2>
                        <div class="top-ventas">
                                <div class="top-venta">
                                    <img src="../imagenes/eq_inter.jpeg" alt="Camiseta del Inter de Milan" height="400" width="400">
                                    <div class="descripcion">
                                        <p>Camiseta del Inter de Milan</p>
                                        
                                    </div>
                                </div>
                                
                                <div class="top-venta">
                                    <img src="../imagenes/eq_dortmund.jpeg" alt="Camiseta del Borussia Dortmund" height="400" width="400">
                                    <div class="descripcion">
                                        <p>Camiseta del  Borussia Dortmund</p>
                                        
                                    </div>
                                </div>  

                                <div class="top-venta">
                                    <img src="../imagenes/eq_barca2.jpeg" alt="Camiseta del Futbol Club Barcelona" height="400" width="400">
                                    <div class="descripcion">
                                        <p>Camiseta del FCB"</p>
                                        
                                    </div>
                                </div>

                                <div class="top-venta">
                                    <img src="../imagenes/eq_manchester.jpeg" alt="Camiseta del Manchester City Football Club" height="400" width="400">
                                    <div class="descripcion">
                                        <p>Camiseta del del Manchester City</p>
                                        
                                    </div>
                            </div>
                        </div>
                </div>        
            
        </section>
    
   </main>
   
    <footer>
        <section class="footer">
        <div class="container">
            <div class="footer-rows">
                <div class="footer-links">
                    <h4>Compañía</h4>
                    <ul>
                        <li><a href="#">Nosotros</a></li>
                        <li><a href="https://maps.app.goo.gl/PxDAyj4cSNjTrSBB7">Nuestras tiendas</a></li>
                        <li><a href="https://www.aepd.es/politica-de-privacidad-y-aviso-legal">Política de privacidad</a></li>
                        <li><a href="#">Afiliate</a></li>

                    </ul>
                </div>
                <div class="footer-links">
                    <h4>Ayuda</h4>
                    <ul>
                        <li><a href="#">Compras</a></li>
                        <li><a href="#">Pagos y Envios</a></li>
                        <li><a href="#">Estado de compra</a></li>
                        <li><a href="#">Preguntas frecuentes</a></li>

                    </ul>
                </div>
                <div class="footer-links">
                    <h4>Tienda</h4>
                    <ul>
                        <li><a href="#">Camisetas</a></li>
                        <li><a href="#">Zapatos</a></li>
                        <li><a href="#">Conjuntos</a></li>
                        <li><a href="#">Complementos</a></li>

                    </ul>
                </div>
                <div class="footer-links">
                    <h4>Siguenos</h4>
                    <div class="social-links">
                        <a href="https://www.facebook.com/futbolemotion"><i class="fab fa-facebook-f"></i></a>
                        <a href="https://www.instagram.com/futbolemotion/"><i class="fab fa-instagram"></i></a>
                        <a href="https://x.com/FutbolEmotion"><i class="fab fa-twitter"></i></a>
                        <a href="https://www.youtube.com/c/futbolemotion"><i class="fab fa-youtube"></i></a>

                    </div>
                </div>
            </div>
        </div>
        </section>

   </footer>
</body>
</html>